<!DOCTYPE html>
<html>
<head>
  <title>upload with kemal</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- <link rel="stylesheet" href="//octicons.github.com/components/octicons/octicons/octicons.css"> -->
  <!-- <script src="/js/main.js"></script> -->
  <!-- <script src="/js/dropzone.js"></script> -->
  <style type="text/css">
  body { text-align:center;font-family:helvetica,arial;font-size:22px;color:#888;margin:20px;}
  a { color:#666;text-decoration:none;}
  #c {margin:0 auto;width:500px;text-align:left}
  </style>
</head>

<body>
  <h2>transfer.sh with kemal</h2>
  <p>
    <code>
      curl --progress-bar --upload-file file.ext  <%= TransferMore.base_url(env) %>/file.ext
    </code>
  </p>

<form method="POST" action="/" enctype="multipart/form-data">
  <div class="form-group">
    <div class="col-lg-10">
      <input name="commit" value="Upload" class="btn btn-primary" type="submit">
      <input name="file" id="file" type="file">
    </div>
  </div>

</form>

  <img src="__kemal__/404.png">

  <footer style="position:fixed;bottom:0px;padding:60px;">
    <span style="position:fixed;left:10%">
      built by <a href="https://github.com/Nephos/">Nephos</a> with <a href="http://kemalcr.com/">kemal</a>
    </span>
    <span style="position:fixed;right:10%">
      <a href="https://github.com/Nephos/transfer_more">Fork me</a>
    </span>
  </footer>
</body>
</html>
